<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <meta name="viewport" http-equiv="content-type" content="text/html; charset=utf-8; width=device-width; initial-scale=1"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel='stylesheet' type="text/css" href='{% static "core/css/style.css" %}'/>

    <script src="{% static 'core/javascript/common.js' %}"></script>

    {% block header_add %}{% endblock %}
</head>

{% autoescape on %}
<body>
    <div class="container" style="position: relative;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false"
                            aria-controls="navbar">

                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">{{ SERVER_NAME }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li {% if request.resolver_match.url_name == "index" %}class='active'{% endif %}>
                                <a href={% url "index" %}>Home</a>
                            </li>

                            <li {% if request.resolver_match.url_name == "queue" %}class='active'{% endif %}>
                                <a href={% url "queue" %}>Queue</a>
                            </li>

                            <li {% if request.resolver_match.url_name == "results" %}class='active'{% endif %}>
                                <a href={% url "results" %}>Results</a>
                            </li>

                            {% if user.is_superuser %}
                                <li {% if request.resolver_match.url_name == "admin" %}class='active'{% endif %}>
                                    <a href="/admin">Admin</a>
                                </li>
                            {% endif %}
                        {% endif %}

                        <li {% if request.resolver_match.url_name == "publications" %}class='active'{% endif %}>
                            <a href={% url "publications" %}>Papers</a>
                        </li>

                        <li {% if request.resolver_match.url_name == "help" %}class='active'{% endif %}>
                            <a href={% url "help" %}>Help</a>
                        </li>

                        <li {% if request.resolver_match.url_name == "contact" %}class='active'{% endif %}>
                            <a href={% url "contact" %}>Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            {% if user.username != "anon" %}
                                <li {% if request.resolver_match.url_name == "settings" %}class='active'{% endif %}>
                                    <a href={% url "settings" %}><span class="glyphicon glyphicon-cog"></span>Settings</a>
                                </li>
                            {% endif %}

                            <li><a href={% url "logout" %}><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        {% else %}

                            <li {% if request.resolver_match.url_name == "signup" %}class='active'{% endif %}>
                            <a href={% url "signup" %}><span class="glyphicon glyphicon-user"></span>Sign Up</a>
                            </li>

                            <li {% if request.resolver_match.url_name == "login" %}class='active'{% endif %}>
                                <a href={% url "login" %}><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% if errors %}
            <div class="main-content error-popup alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                <br>
                {% for error in errors %}
                    <br>
                    <div>
                        <p align="center"><strong>Error - </strong>{{ error }}</p>
                    </div>
                    <br>
                {% endfor %}
            </div>
        {% endif %}
        {% if messages %}
            <div class="main-content error-popup alert alert-success alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                <br>
                {% for message in messages %}
                    <br>
                    <div>
                        <p align="center">{{ message }}</p>
                    </div>
                    <br>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}

        <br><br>
        <div class="well well-lg text-center small">
            {{ SERVER_NAME }} should only be used for noncommercial purposes.
            <br>
            <a href='#'>Affiliations</a>
        </div>
    </div>
</body>
{% endautoescape %}
</html>
