{% extends "core/base.html" %}

{% block content %}
    <div class="row my-fixed-width">
        <div class="text-center">
            <h2>Job {{ job.job_id }}</h2>
            <br>
            <table class="table table-hover table-bordered table-responsive my-fixed-width">
                <thead>
                <tr>
                    <th style="text-align: center;">Id</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">User</th>
                    <th style="text-align: center;">Status</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ job.job_id }}</td>
                    <td>{{ job.job_name|slice:":20"|default:job.job_id }}{% if job.job_name|length > 20 %}..{% endif %}</td>
                    <td>{{ job.user.username|slice:":20" }}{% if job.job_name|length > 20 %}..{% endif %}</td>
                    <td>{% if job.error %}{{ job.error }}{% else %}{{ job.get_status_display }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr>
        <div style="display: table; margin: auto">
            <h4 align="center">Details</h4>
            <br>
            {% if job.details_json %}
                <p>Term 1: {{ job.term1 }}</p>
                <p>Term 2: {{ job.term2 }}</p>
            {% endif %}
        </div>

        {% if job.status in job.STATUS_FINISHED %}
            <hr>
            <h4 align="center">Downloads</h4>
            <br>

            {% if job.status == 'L.CPL' %}
                <p align="center">Result: {{ job.get_result }}</p>
                <br>
            {% endif %}

            <div style="display: table; margin: auto">
                <a style="width: 100%" type="button" class="btn btn-default"
                   href="{% url 'download_file' %}?job_id={{ job.job_id }}&content=log.txt">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    Download log
                </a>
            </div>
        {% endif %}
        <br/><br/><br/>
    </div>
{% endblock %}
