{% extends "core/base.html" %}
{% load static %}

{% block header_add %}
    <link rel='stylesheet' type='text/css' href={% static "core/css/home.css" %} xmlns="http://www.w3.org/1999/html"/>
    <link rel='stylesheet' type='text/css' href={% static "core/css/spinner.css" %} />
    <link rel='stylesheet' type='text/css' href={% static "core/css/apple-checkbox.css" %} />
{% endblock %}

{% block content %}
    <form class="form-jobs" enctype='multipart/form-data' action={% url "index" %} method='post'>
    {% csrf_token %}
        <h1 align="center">Job submission</h1>
        <hr>
        <h4 align="center">Add two numbers together</h4>
        <br>

        {# Job name #}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group {% if form.job_name.errors %}has-error has-feedback{% endif %}"
                     style="text-align: center;">
                    <label for="id_job_name" style="font-weight: normal;">{{ form.job_name.label }}</label>
                    <input class="form-control center-text"
                           style="height: 40px; margin:auto;"
                           type="text" name="job_name" id="id_job_name" placeholder="Job name" maxlength="100"/>
                    {% if form.job_name.errors %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                    <p class="_help-text" align="center">{{ form.job_name.help_text }}</p>
                </div>
            </div>
        </div>

        <br>

        {# Parameters #}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div style="display: flex; justify-content: center; align-items: center">
                    <div class="form-group {% if form.term1.errors %}has-error has-feedback{% endif %}"
                         style="text-align: center;">
                            <label for="id_term1" style="font-weight: normal;">{{ form.term1.label }}</label>
                            <input type="text"
                                   class="form-control center-text"
                                   style="margin:auto; height:40px;"
                                   name="term1" id="id_term1" placeholder=2 maxlength="10000" required>
                            {% if form.term1.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            {% endif %}
                        <p class="_help-text" align="center">{{ form.term1.help_text }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="display: flex; justify-content: center; align-items: center">
                    <div class="form-group {% if form.term2.errors %}has-error has-feedback{% endif %}"
                         style="text-align: center;">
                            <label for="id_term2" style="font-weight: normal;">{{ form.term2.label }}</label>
                            <input type="text"
                                   class="form-control center-text"
                                   style="margin:auto; height:40px;"
                                   name="term2" id="id_term2" placeholder=6 maxlength="10000" required>
                            {% if form.term2.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            {% endif %}
                        <p class="_help-text" align="center">{{ form.term2.help_text }}</p>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <hr>

        {% if user.username == "anonym" %}
            <div style="display: flex; justify-content: center">
                <div class="form-group" style="margin: 0 auto; width: fit-content; width: -moz-fit-content">
                    <input type="checkbox" id="id_noncommercial" class="ios8-switch ios8-switch-lg" required>
                    <label for='id_noncommercial' style="font-weight: normal; line-height: 20px;">
                        I will use {{ SERVER_NAME }} for non-commercial purposes only
                    </label>
                </div>
            </div>
        {% endif %}

        {# Submit button #}
        <div class="form-group jobs-submit text-center">
            <button type="submit" class="btn btn-primary btn-md" id="submit_button" name="action" value="submit">Submit job</button>
        </div>

        <div id="spinner" style="display: none">
            <p align="center">Processing input..</p>
            <div class="spinner" style="margin: auto;"></div>
        </div>
    </form>

{% endblock %}
