{% extends "core/base.html" %}
{% load static %}

{% block content %}
<form class="my-home-form" enctype='multipart/form-data' action='index' method='post'>
{% csrf_token %}

    {#% for field in form.fields %#}
    <div class="input-group jobs-field">
        <span class='input-group-addon'
              data-placement="auto left"
              data-toggle="popover"
              data-trigger="hover"
              data-content="{{ form.jobname.help_text }}">

            <i class='glyphicon glyphicon-tags'></i>
        </span>
        {{ form.jobname }}
    </div>
    {#% endfor %#}

    {# Submit button #}
    <br>
	<div class="form-group text-center">
		<button type="submit" class="btn btn-primary btn-md" name="action" value="submit">Submit job</button>
	</div>
</form>
{% endblock %}