{% extends "core/base.html" %}
{% load static %}

{% block content %}
<table class="table table-hover my-fixed-width">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>User</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="{% url 'details' %}?job_id={{ job.job_id }}">{{ job.job_id }}</a></td>
                <td>{{ job.job_name }}</td>
                <td>{{ job.user }}</td>
                <td>{{ job.get_status_display }}</td>
            </tr>
        {% endfor %}
    <tbody>
</table>

<div class="my-fixed-width my-padded text-center">
    <span class="step-links">
        {% if jobs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ jobs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
        </span>

        {% if jobs.has_next %}
            <a href="?page={{ jobs.next_page_number }}">next</a>
            <a href="?page={{ jobs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}