{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <form class="form-horizontal" style="margin: auto; width: 200px; margin-bottom: 20px;" action='{% url "reset_password" %}' method="post">
        {% csrf_token %}
        {% for field in form %}
                <div class="form-group has-feedback">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.help_text %}
                        <br>
                        <p class="help" align="center">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
        {% endfor  %}

        <div class="text-center">
            <p><button type="submit" class="btn btn-primary btn-md" value="submit">Reset password</button></p>
        </div>
    </form>
{% endblock %}