{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h3 align="center">Retrieve your username</h3>
    <p align="center">We will send your username to the e-mail address you specified at sign-up</p>
    <form class="form-horizontal my-generic-form" action='{% url "retrieve_username" %}' method="post">
        {% csrf_token %}
        {% for field in form %}
                <div class="form-group has-feedback">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.help_text %}
                        <br>
                        <p class="help" align="center">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
        {% endfor  %}

        <div class="text-center">
            <p><button type="submit" class="btn btn-primary btn-md" value="submit">Remind me my username</button></p>
        </div>
    </form>
{% endblock %}