
.form-jobs {
  max-width: 80%;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.jobs-submit {
  padding: 15px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.center-text {
    text-align: center;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
}
