body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-fixed-width {
    max-width: 500px;
    margin: 0 auto;
    float: none;
}

.my-padded {
    padding: 15px;
}

.my-signin-form {
    max-width: 300px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    float: none;
    margin-bottom: 25px;
}

.my-signup-form {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    float: none;
    margin-bottom: 25px;
}




.navbar {
  margin-bottom: 20px;
  margin-top: 20px;
}




/* error popups */
.main-content {
  max-width: 500px;
  margin: 0 auto;
}

.error-popup {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}










